html,
body {
    margin: 0px;
    overflow: hidden;
}

.authentication {
    width: 220px;
    height: 300px;
    margin: auto;
    margin-top: calc(50vh - 150px)
}

.authentication h1 {
    margin-bottom:30px;
    font-size: 36px;
    font-weight: 200;
    letter-spacing: 2px;
    font-family: Garamond, serif;
    text-align: center;
}

.field {
    width: calc(100%-30px);
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 32px;
    margin: 15px;
}

.field svg {
    display: inline;
    width: 18px; 
    padding: 7px;
    border-right: 1px solid #ccc
}

.field input {
    display: inline;
    outline: none;
    float: right; 
    border: none;
    font-size: 12px;
    font-family: "Open Sans", Arial, sans-serif;
    margin: 7px;
    letter-spacing: 0.5px;
    width: calc(100% - 52px);
    cursor: pointer;
}

.authentication button {
    display: block;
    width: 190px;
    margin: 15px;
    height: 32px;
    color: white;
    background-color: #333;
    border-radius: 5px;
    outline: none;
    border: none; 
    cursor: pointer;
}

.navbar {
    position:absolute;
    top: 10px;
    right: 12px;
}

.navbar button {
    outline: none;
    border: none;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    background: transparent;
    cursor: pointer;
}

.custom-toolbar {
    display: inline-block;
    padding-right: 8px;
    border-right: 1px solid #ccc;
    margin-right: 8px;
    float: left;
}

.cli {
    position: absolute;
    bottom: 0px;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 12px;;
    color: #333;
}

.cli .img {
    display: inline-block;
    margin: 15px;
    width: 20px;
}

.cli #username {
    display: inline-block;
}

.cli #storyname {
    display: inline-block;
}

.cli input {
    display: inline;
    font-family: "Open Sans", Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 12px;;
    color: #333;
    border: none;
    outline: none;
}

.cli .card {
    font-size: 11px;
    display: inline-block;
    height: 20px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 0px;
    border: 1px solid #333;
    border-radius: 3px;
    margin: 2px;
}
