.window {
    position: absolute;
    overflow: hidden;
}

.pillar{
    position: absolute;
    background-color: burlywood;
}

.family {
    position: absolute;
    left: 0px;
    width: 100%;
    background-color: lightgreen;
}

.card {
    position: relative;
    width: 100%; 
    background-color: lightblue;
}