.window {
    position: absolute;
    overflow: hidden;
}

.reference {
    position: absolute;
    height: 100vh;
    width: 100%;
}

.pillar{
    position: absolute;
    top: 0px;
}

.family {
    position: relative;
    width: 100%;
}

.card {
    position: relative;
    width: 100%; 
    background-color: white;
    border-radius: 3px;
    min-height: 40px;
    color: #777;
}