html

head
    title #{title}
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display")
    script(src="main.js")