.Header {
    position: fixed;
    height:80px;
    width:100%;
    top:0px;
    left:0px;
    background-color: white;
    box-shadow: 0 1px 8px rgba(0,0,0,0.08);
    font-size: 14px;
    z-index: 1;
}

.HeaderTitle {
    cursor: pointer;
    position:relative;
    vertical-align: top;
    padding-top:30px;
    height:45px;
    display: inline-block;
    letter-spacing: 1px;
}

.HeaderWrapper {
    width:1200px;
    margin:auto;
}

.HeaderMenuIconWrapper {
    width:25px;
    height:25px;
    padding:25px;
    display: inline-block;
    cursor: pointer;
}

.HeaderMenuIcon {
    margin-right:30px;
    width:25px;

}

.HeaderMenu {
    position: absolute;
    top: 80px;
    left: calc((100% - 1200px)/2);
    /*width:300px;*/
    background-color: #49505c;
}

.MenuStoryTitle {
    display: inline-block;
    color:white;
    margin-top: 5px;
    vertical-align: top;
    letter-spacing: 1px;
    margin-right:10px;
}

.MenuStoryContainer {
    padding:15px 15px 15px 25px;
}

.MenuStoryContainer:hover {
    background-color: #343940;
}

.SettingsBar {
    margin-top: 30px;
    height:20px;
    width:20px;
    float:right;
    display: inline-block;
}

.SettingsIcon {
    width:20px;
}