.header {
    position: absolute;
    top: -5px;
    left: -5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 3px;
    display: flex; 
    color: #999;
    background-color: white;

}

.header .img {
    display: inline-block;
    margin: 5px;
    width: 15px;
}

.header div {
    display: inline-block;
    font-family: "Open Sans", Arial, sans-serif;
    margin-top: 5px;
    font-size: 11px;
}