.ql-command-interface {
    display: flex;
    padding: 4px 0px;
    width: 100%;
}

.ql-command-container {
    width: 100%;
}

.ql-command-suggestion-focus {
    margin-left: 25px;
    width: 100%;
    height: 22px;
    color: #333;
    /* background-color: #49c2ff; */
}

.ql-command-suggestion {
    margin-left: 25px; 
    width: 100%;
    height: 22px;
    color: #999;
    /* background-color: #e8e8e8; */
}

.ql-command-line-icon {
    display: table-cell;
    width: 16px;
    padding-right: 8px;
}
